In [26]:
import os, sys, glob
import math
import numpy as np
import pandas as pd
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_context("notebook", font_scale=1.1)

In [2]:
df_test_result = pd.read_csv("testing_exposure_results_summary.tsv", sep="\t")

In [6]:
df_test_metadata = pd.read_csv("testing_exposure_metadata.tsv", sep="\t")

In [8]:
df_test_result.head()

,sample,country,location,nstrains,nclades,nmuts,muts,strains,clades,strain_muts,error,adjusted_error,recomb,nrecomb,missing,collection_date,release_date
0,SRR10948474,China,China,1,1,2,"{28144, 8782}",{'anc-strain-0'},{1},"{28144, 8782}",0.031484,0.014273,0,0,0,Jan-2020,2020-01-26T00:00:00Z
1,SRR11059943,China,China:Wuhan,1,1,1,{17615},{'strain4'},{0},set(),0.083536,0.083333,0,0,18,2019-12-30,2020-02-22T00:00:00Z
2,SRR11140744,USA,USA:WI:Madison,1,1,0,set(),{'strain4'},{0},set(),0.007110,0.000000,0,0,0,2020-02-14,2020-02-21T00:00:00Z
3,SRR11140745,USA,USA:WI:Madison,1,1,0,set(),{'strain4'},{0},set(),0.022929,0.000000,0,0,0,2020-02-14,2020-02-21T00:00:00Z
4,SRR11140746,USA,USA:WI:Madison,1,1,0,set(),{'strain4'},{0},set(),0.007366,0.000000,0,0,0,2020-02-14,2020-02-21T00:00:00Z

In [11]:
mutations = [(241, 'T'), (379, 'A'), (490, 'A'), (1059, 'T'), (1440, 'A'), (1515, 'G'), (2891, 'A'), (3037, 'T'), (3784, 'T'), (7011, 'T'), (8782, 'T'), (9223, 'T'), (11083, 'T'), (11671, 'T'), (14408, 'T'), (14805, 'T'), (17247, 'C'), (17615, 'G'), (17747, 'T'), (17858, 'G'), (18060, 'T'), (18736, 'C'), (19684, 'T'), (20268, 'G'), (22335, 'T'), (23010, 'C'), (23403, 'G'), (23525, 'T'), (23606, 'T'), (24034, 'T'), (25563, 'T'), (25979, 'T'), (26144, 'T'), (26530, 'G'), (26729, 'C'), (27676, 'T'), (28077, 'C'), (28144, 'C'), (28688, 'C'), (28854, 'T'), (28882, 'A')]

In [9]:
def plotInput(sample):
    df = pd.read_csv("")
    return None

In [10]:
plotInput("SRR10948474")

In [33]:
df_test = pd.read_csv("../data_testing/sample_summary.tsv", sep="\t")

In [34]:
df_training = pd.read_csv("../new_data_illumina_April8_reduced/sample_summary.tsv", sep="\t")

In [37]:
df = pd.concat([df_test, df_training])

In [44]:
def plotBarPlot(df, filename):
    sns.barplot(palette=[sns.color_palette()[1]]+[sns.color_palette()[0]]*11, x="mutations", y="sample", 
                data=df[df["type"] == "subclonal"].groupby("mutations").count().reset_index())
    plt.gca().set_xlabel("number of subclonal mutations")
    plt.gca().set_ylabel("number of samples")
    plt.gca().set_xlim((-0.5,9.5))
    plt.savefig(filename)
    plt.close()

In [47]:
def plotPieChart(df, filename):
    hom_count = len(df[(df["type"] == "subclonal") & (df["mutations"] == 0)])
    het_count = len(df[(df["type"] == "subclonal") & (df["mutations"] > 0)])
    df_pie = pd.DataFrame([(het_count, "heterogeneous [%d]" % het_count), (hom_count, "homogenous [%d]" % hom_count)], columns =['count', 'sample']).set_index("sample")
    ax = df_pie.plot(kind='pie', y="count", figsize=(4,4), labels=["", ""], autopct='%1.0f%%')
    ax.legend(loc=3, labels=df_pie.index)
    ax.set_ylabel("")
    plt.savefig(filename)
    plt.close()

In [48]:
plotBarPlot(df, "all_samples_subclonal_bar.pdf")
plotPieChart(df, "all_samples_subclonal_pie.pdf")
plotBarPlot(df_test, "test_samples_subclonal_bar.pdf")
plotPieChart(df_test, "test_samples_subclonal_pie.pdf")
plotBarPlot(df_training, "training_samples_subclonal_bar.pdf")
plotPieChart(df_training, "training_samples_subclonal_pie.pdf")